*, ::before, ::after {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    margin: 1rem auto ;
    max-width: 1200px ;
    background-color: #7d7df7;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    
}


/*body{
    margin: 1rem auto ;
    max-width: 1200px ;

}
*/
